*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#f5f7fb;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:white;
box-shadow:0 2px 10px lightgray;
}

.logo{
font-size:30px;
font-weight:bold;
color:#6a1b9a;
}

nav a{
margin:15px;
text-decoration:none;
color:black;
}

.login{
padding:10px 20px;
background:white;
border:1px solid green;
color:green;
}

.signup{
padding:10px 20px;
background:green;
border:none;
color:white;
}

.hero{
display:flex;
justify-content:space-around;
align-items:center;
padding:80px;
background:#eef2ff;
}

.left{
width:50%;
}

.left h4{
color:green;
margin-bottom:20px;
}

.left h1{
font-size:55px;
margin-bottom:20px;
}

.left p{
font-size:22px;
margin-bottom:30px;
}

.search{
display:flex;
gap:10px;
}

.search input{
padding:15px;
width:220px;
border:1px solid lightgray;
border-radius:5px;
}

.search button{
padding:15px 25px;
background:green;
color:white;
border:none;
border-radius:5px;
}

.right img{
width:350px;
}

.section{
padding:70px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
margin-top:30px;
}

.card{
width:260px;
padding:25px;
background:white;
border-radius:10px;
box-shadow:0 0 10px lightgray;
}

.card p{
margin-top:10px;
padding:10px;
background:#f1f1f1;
border-radius:5px;
}

.popular{
padding:80px;
}

.popular h1{
margin-bottom:40px;
}

.popular-grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:20px;
}

.popular-card{
background:white;
padding:30px;
border-radius:15px;
box-shadow:0 0 10px lightgray;
}

.popular-card h3{
color:green;
margin:15px 0;
}

.company{
padding:80px;
text-align:center;
}

.company a{
display:block;
margin-top:15px;
text-decoration:none;
color:green;
}

footer{
background:#222;
color:white;
padding:20px;
text-align:center;
}

.hidden{
display:none;
}